@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

body{
    background-image:url(./fondoparacalculadora.png);
    font-family: 'Montserrat', sans-serif, monospace;
    color: black;
}
h1 {
    color: black;
}
    #calculadora{
        background: white;
        /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #detalle{
        font-family: 'sans-serif';
        background: rgb(252, 242, 228);
        /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
        width: 50%;
        height: 100%;
        float: left;
        color: black;
    }
    .contenido{
        /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        padding: 40px;
    }
    input {
        width: 70%;
        padding: 12px 15px;
        border: none;
        background-color: #eee;
    }
    
    button {
      font-size: 15px;
        font-weight: bold;
        padding: 10px 45px;
        border-radius: 50px;
        background-color:   #0A81D1;;
        border: 1px solid black;
        color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: transform 2ms ease-in;
    }

    button:active {
        transform: scale(0.85);
        background-color:  #7dc9fc;;
        }
 #contenedor{
            width: 900px;
            height: 500px;
            text-align: center;
            /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
            position: absolute;
            inset: 0;
            margin: auto;
            border-radius: 10px;
            overflow: hidden; 
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
          }
 #error{
            color: red;
            font-weight: bold;
            display: none;
        }
        
        .resultado{
            color: #0A81D1;
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 5px;
            display: none;
        }      
       
      
    
  